body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: hsla(152, 100%, 50%, 1);

	background: linear-gradient(
		90deg,
		hsla(152, 100%, 50%, 1) 0%,
		hsla(186, 100%, 69%, 1) 100%
	);

	background: -moz-linear-gradient(
		90deg,
		hsla(152, 100%, 50%, 1) 0%,
		hsla(186, 100%, 69%, 1) 100%
	);

	background: -webkit-linear-gradient(
		90deg,
		hsla(152, 100%, 50%, 1) 0%,
		hsla(186, 100%, 69%, 1) 100%
	);

	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00FF87", endColorstr="#60EFFF", GradientType=1 );
}

.calc {
	border: 1px solid;
	box-shadow: 0 0 30px 2px black;
	border-radius: 10px;
	padding: 20px;
	background: #FFFFFF;
}

.row {
	display: flex;
	width: 500px;
	flex-direction: row;
	text-align: center;
	align-items: center;
	justify-items: center;
	justify-content: space-between;
	padding-top: 5px;
	padding-bottom: 5px;
}

.rowf {
	display: flex;
	width: 22%;
	flex-direction: row;
	justify-content: space-between;
}

#display {
	width: 70%;
	padding: 10px;
	margin: 0;
	text-align: end;
	border: 1px solid;
	border-radius: 7px;
	font-size: 20px;
	background: #FFFFFF;
	box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 10px 0px;
}

.btn,
.sbtn {
	width: 22%;
	padding: 10px;
	margin: 0;
	text-align: center;
	border: 1px solid;
	border-radius: 7px;
	font-size: 20px;
	background: #FFFFFF;
	box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 10px 0px;
}

.dbtn {
	width: 45%;
	padding: 10px;
	margin: 0;
	text-align: center;
	border: 1px solid;
	border-radius: 7px;
	font-size: 20px;
	background: #FFFFFF;
	box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 10px 0px;
}
